body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.smallfont{
  font-size: 0.9rem;
}
.b_top{
  font-size: 1.2rem;
  /* text-align: center ; */
}
.b_div1{
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  display: flex;
  margin: 15px;
  /* width: -moz-fit-content; */
  width: 150px;
  height: 100px;

}
.b_div{
  flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    margin: 15px;
    /* width: -moz-fit-content; */
    width: fit-content;
    height: 100px;
}
